/*
 *
 * NKU Linux Mirror Style
 *
*/

* {
    padding: 0;
    margin: 0;
}

body {
    margin-top: 113px;
    font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 24px;
    line-height: 150%;
    font-weight: 500;
    padding: 10px 0px 10px 0px;
    margin: 0px;
}

h2 {
    font-size: 18px;
    font-weight: 500;
}

pre {
    font-family: 'Bitstream Vera Sans Mono', 'Courier', sans-serif;
    background-color: #F8F8F8;
    padding: 1em;
    margin: 1em 0;
    border: 2px solid #F0F0F0;
    overflow: auto;
}

#Header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 113px;
    background: url(Navigation.png) repeat-x 50% 100% #F2F2F2;
}

#Header ul , #Page{
    width: 825px;
    margin: 0 auto;
}

#Header li {
    display: block;
    float: left;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}

#Header li a {
    display: block;
    padding: 44px 0 0;
    color: #626262;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    width: 80px;
    height: 33px;
    outline: none;
    position: relative;
    z-index: 6;
}

#Header ul li#Logo a{
    background: url(Navigation.png) no-repeat 0 50%;
    width: 145px;
    height: 80px;
    overflow: hidden;
    text-indent: -1000em;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}

#Header ul li#Logo {
    margin-right: 200px;
}

#Header ul li:not(#Logo) {
    margin-top: 30px;
}

#Header li .icon{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#Header li#Nav-ArchLinux .icon {
    background: url(archlinux.png) no-repeat;
    background-position: top center;
}

#Header li#Nav-CentOS .icon {
    background: url(centos.png) no-repeat;
    background-position: top center;
}

#Header li#Nav-Fedora .icon {
    background: url(fedora.png) no-repeat;
    background-position: top center;
}

#Header li#Nav-Gentoo .icon {
    background: url(gentoo.png) no-repeat;
    background-position: top center;
}

#Header li#Nav-LinuxMint .icon {
    background: url(linuxmint.png) no-repeat;
    background-position: top center;
}

#Header li#Nav-Ubuntu .icon {
    background: url(ubuntu.png) no-repeat;
    background-position: top center;
}

#Page {
    font-size: 14px;
    line-height: 180%;
    font-family: 'Bitstream Vera Sans Mono', 'Courier', 'Hiragino Sans GB', 'Microsoft Yahei', STHeiti, sans-serif;
}

#Page a {
    color: #0F0F0F;
}

#Page h1, h2 {
    font-family: 'Ubuntu', sans-serif;
}

#Page > div {
    padding-top: 113px;
    margin-top: -113px;
}

#Footer {
    text-align: center;
    font-size: 11px;
    color: #AAA !important;
    margin-top: 100px;
    margin-bottom: 30px;
}

#Footer a {
    color: #AAA;
}
